    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-5">
        <div class="bg-primary-subtle px-3 py-2 rounded-pill">
          <%= message.content %>
        </div>
      </div>

      <% elsif message.role == "assistant" %>
        <div class="d-flex justify-content-start mb-5" id="<%= dom_id(message) %>">
          <div class="bg-secondary-subtle px-3  py-2 rounded-pill">
            <%= message.content.present? ? (message.content) : "..." %>
          </div>
        </div>
    <% end %>
