// Specific CSS for your home-page

.hero-section {
  background-color: $primary;
  min-height: 60vh;
  padding: 6.5rem 1rem; // 100px+ top/bottom
}

.how-it-works-icon {
  font-size: 2.5rem;
  color: $primary;
}

.footer {
  background-color: $bg-app;
  color: $text-muted;
}
