// Profile page

.profile-card-container{
  width: 700px;
  margin: 0 auto;

}

.profile-card {
  max-width: 500px;
  width: 100%;
}

.profile-circle-preview {
  max-width: 960px;
}

.profile-follower {
  width: 90px;

  &__email {
    font-size: .6875rem;
  }
}
