.badge-primary-soft {
  background-color: $primary-light;
  color: $primary;
}

.badge-success-soft {
  background-color: $mint-light;
  color: $mint;
}

.badge-danger-soft {
  background-color: $coral-light;
  color: $rose;
}
